/*
=============== 
Variables
===============
*/
$background: #ebf5fc;
$background-color: #2aa9b9;
$color-text: #32a3b1;
$inset-color-half: rgba(0, 0, 0, 0.05);
$inset-color-int: rgba(0, 0, 0, 1);
$shadow-color: rgba(255, 255, 255, 1);
$fontFamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

@mixin centerItens($position) {
  align-items: center;
  display: flex;
  justify-content: $position;
}
@mixin radius-shadow {
  border-radius: 40px;
  box-shadow: -6px -6px 20px $shadow-color, 6px 6px 20px $inset-color-int;
}
@mixin margin-padding($marg, $padd) {
  margin: $marg;
  padding: $padd;
}
